@model IEnumerable<NewsSystem.Web.ViewModels.NewsViewModel>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var news in Model)
{
    <div>@news.Title, <a href="@news.Link">@news.Link</a>, @news.CategoryName, @news.Description</div>
}

